@use "./fonts";
@use "./mq" as *;

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    position: relative;
    background: url("../assets/crane_bg.jpg");
    background-size: cover;
    background-position: left;
    padding-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @include min-width(tablet) {
        font-size: 1.2rem;
    }

    &:after {
        content: "";
        z-index: -1;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: black;
        opacity: 0.5;
    }
}

main {
    padding: 1rem;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    
    @include min-width(tablet) {
        padding: 2rem;
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 3rem;
        place-content: center;
    }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: white;

    img {
        height: 5rem;
    }
}

article {
    padding: 1.2rem;
    background-color: rgba($color: white, $alpha: 0.8);
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    display: grid;
    place-items: center;
    border-radius: 20px;
    gap: 1rem;
    
    @include min-width(600px) {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 3rem;
    }
    
    @include min-width(tablet) {
        max-width: 38rem;
    }

    & > img {
        width: 100%;
        max-width: 12rem;
    }
}

div.social {
    padding: 1rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    width: 100%;
    line-height: normal;
    display: grid;
    place-items: center;
    gap: 1rem;

    @include min-width(500px) {
        grid-template-columns: auto 1fr;
    }

    div.profile {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 1rem;
        row-gap: 0.3rem;
        align-items: center;
        width: 100%;

        p {
            margin: 0;
        }

        p:last-of-type {
            font-size: 0.8rem;
        }
    }

    div.profile > div.pic {
        overflow: hidden;
        background-color: white;
        // padding: 5px;

        width: 100%;
        aspect-ratio: 1;
        max-width: 3rem;
        border-radius: 50%;

        grid-row: 1 / span 2;

        img {
            object-fit: cover;
            object-position: center;
            // height: 100%;
            width: 100%;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;

        @include min-width(500px) {
            justify-content: flex-end;
            gap: 1.2rem;
        }
    }
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: grid;
    place-items: center;
    font-size: 0.82rem;
    font-weight: 500;
    line-height: 150%;
    color: white;
    padding: 1rem;
}
